DATABASE_URL=
# Connect to Supabase via connection pooling
#DATABASE_URL="postgresql://postgres.pionbvcfoddhwpnhlech:m4bm94Gng0Vurs5Q@aws-1-us-east-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
NEXT_PUBLIC_SOCKET_URL=
# Direct connection to the database. Used for migrations
NEXT_PUBLIC_PAYPAL_CLIENT_ID= 
PAYPAL_SECRET=