@import "tailwindcss";

/* globals.css */
@layer utilities {
  /* Ocultar scrollbar para Chrome, Safari and Opera */
  .scrollbar-hide::-webkit-scrollbar {
      display: none;
  }
  /* Ocultar scrollbar para IE, Edge and Firefox */
  .scrollbar-hide {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
  }
}

@keyframes slide-up {
  from { transform: translateY(100%); }
  to { transform: translateY(0); }
}
.animate-slide-up {
  animation: slide-up 0.3s ease-out forwards;
}

@keyframes loading {
  to { width: 100%; }
}

/* =========================
   RESET BÁSICO
========================= */
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* =========================
   COLORES REALES (SIN VARIABLES)
========================= */

/* Fondo principal */
.bg-app {
  background-color:  #f8f3f3;
  color: #0f172a;
}

/* Dark mode forzado */
.dark .bg-app {
  background-color: #181618;
  color: #e5e7eb;
}

/* Card */
.bg-card {
  background-color: #ffffff;
}

.dark .bg-card {
  background-color: var(--notBlack);
}

/* Inputs */
.input-app {
  background-color: #f8fafc;
  border: 1px solid #e2e8f0;
  color: #0f172a;

}

.dark .input-app {
  background-color: var(--notBlack);
  border-color: #334155;
  color: #e5e7eb;

}


/* =========================
   GRADIENTE FOODLIFY
========================= */
.bg-orange-grad {
  background: linear-gradient(180deg, #fb9e50 0%, #c44529 100%);
}

.bg-purple-grad {
  background: linear-gradient(180deg, var(--lightPurple2) 0%, var(--lightPurple) 100%);
}

.bg-green-grad {
  background: linear-gradient(180deg, var(--mint-green) 0%, var(--dark-mint-green) 100%);
}

.ring-light-purple{
  &:focus {
        --tw-ring-color: var(--lightPurple) /* oklch(75% 0.183 55.934) */;
    }
}

/* =========================
   TRANSICIÓN GLOBAL
========================= */
.transition-theme {
  transition:
    background-color 0.4s ease,
    color 0.4s ease,
    border-color 0.4s ease;
}

:root {
  /* Registro de colores para usar como clases de Tailwind */
  --darkOrange: #C44529;
  --lightOrange: #FB9E50;
  --pinky: #EA496D;
  --lightGray: #D9D9D9;
  --lightGray2: #C2C2C2;
  --darkGray: #9D9D9D;
  --notBlack: #242424;
  --lightPurple: #B97ECA;
  --lightPurple2: #2F2569;
  --darkPurple: #241E30;
  --borderPurple: #362E45;
  --notWhite: #F2F2F2;
  
  --color-pinky: var(--pinky);
  --color-light-purple: var(--lightPurple);
  --color-dark-purple: var(--darkPurple);
  --color-not-black: var(--notBlack);
  --color-not-white: var(--notWhite);
  --color-dark-orange: var(--darkOrange);
  --color-light-orange: var(--lightOrange);
  --color-lightGray: var(--lightGray);
  /* Mantienes tus fuentes y otros */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-tanker: var(--font-tanker);


  /* THEMA VERDE */
  --light-green: #E9F5DB;
  --mint-green: #CFE1B9;
  --dark-mint-green: #B5C99A;
  --dark-green: #97A97C;
  --darker-green: #87986A;
  --militar-green: #718355;
}

